{% extends "base.njk" %}

{% block content %}

<script src="/assets/js/photoswipe-lightbox.umd.min.js"></script>
<script src= "/assets/js/photoswipe.umd.min.js"></script>

<link rel="stylesheet" href="/assets/css/photoswipe.css">

<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <!-- Manually loop through featureImgs and descriptions using their index -->
      {% for case in cases %}
      <div class="col-12 site-project-single-description">
        <h3>{{ case.header }}</h3>
        <img src="{{ case.images[0] }}" alt="Sample image for {{ case.header }}" class="img-fluid">
        <div class="gallery" id="project-gallery">
        {% for image in case.images %}
          {% if loop.index > 1 %}
            {% if image.indexOf('web') > -1 %}
                <a href="{{ image }}" data-pswp-height="855" data-pswp-width="1520" target="_blank">
                  <img src="{{ image }}" alt="Responsive examples of {{ case.header }}" class="img-fluid">
                </a>
            {% elif image.indexOf('print') > -1 %}
                <a href="{{ image }}" data-pswp-height="1440" data-pswp-width="760" target="_blank">
                  <img src="{{ image }}" alt="Print layout of {{ case.header }}" class="img-fluid">
                </a>
            {% elif image.indexOf('poster') > -1 %}
                <a href="{{ image }}" data-pswp-height="1340" data-pswp-width="960" target="_blank">
                  <img src="{{ image }}" alt="Print layout of {{ case.header }}" class="img-fluid">
                </a>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>
          
        {% if case.layouts and case.layouts | length > 0 %}
        <p style="text-align: center">
          <button class="toggle" data-toggle="collapse" href="#collapseExample{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ loop.index }}">
             Expand / Collapse layouts
          </button>
        </p>
        {% endif %}

        <div class="collapse" id="collapseExample{{ loop.index }}">
          <div class="card card-body">
            {% for layout in case.layouts %}
              {% if loop.index > 0 %}
              <img class="layout" src="{{ layout }}" />
              {% endif %}
            {% endfor %}
          </div>
{#           <p style="text-align: center; margin-top: 30px;">
            <button class="toggle" data-toggle="collapse" href="#collapseExample{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ loop.index }}">
              Collapse layouts
            </button>
          </p> #}
        </div>
        
        <p class="case-legend">{{ case.description | replace("\n", "<br />") | safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script type="text/javascript">
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#project-gallery',
    children: 'a',
    pswpModule: PhotoSwipe,
    preload: [1, 1]
    });
  lightbox.init();
</script>
  
{% endblock %}